<footer>
  Created by
  <!-- link -->
  <a href="http://yodkwtf.com" target="_blank" class="link" title="I create websites and stuff">
    Durgesh
  </a>

  <!-- twitter -->
  <a href="https://twitter.com/yodkwtf" class="icon" id="twitter">
    <fa-icon [icon]="faTwitter"></fa-icon>
  </a>
  <!-- insta -->
  <a href="https://www.github.com/yodkwtf" class="icon" id="github">
    <fa-icon [icon]="faGithub"></fa-icon>
  </a>
  <!-- linkedin -->
  <a href="https://www.linkedin.com/in/durgesh-chaudhary/" class="icon" id="linkedin">
    <fa-icon [icon]="faLinkedin"></fa-icon>
  </a>
</footer>